* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #141414;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h "
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 10fr;
  grid-gap: 5px;
  background: #141414;

}

.app-wrapper-content {
  padding: 10px;
  color: gray;
  grid-area: c;
  background-color: #1e1e1e;
  border: 1px solid dimgray;
  border-radius: 15px;
}
